@import url('https://fonts.googleapis.com/css?family=Tangerine:700');

html {
    min-height: 100%;   
}

body {
    background-image: url("https://images.unsplash.com/photo-1434532305614-d663e202772a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d4069bd55b99a46824ac64011cce1b28&auto=format&fit=crop&w=1950&q=80");
    background-repeat: no-repeat center bottom;
    background-size: cover;
    /* background-image: linear-gradient(to right, #e2ccd9 , #fbf7f9); */
}

h1, h4, p, h2 {
    text-align: center;
    color: #254a45; 
}

h1 {
    font-family: 'Tangerine', cursive;
    font-size: 100px;
    margin-top: 25px;
}

h4 {
    font-family: 'Tangerine', cursive;
    font-size: 40px;
}

img {
    margin: 0 auto;
    display: block;
}

#start-position {
    margin-bottom: 300px;
    margin-top: 50px;
}

#attack {
    margin: auto;
    display: block;
}

#character-section, #defender-section {
    margin: auto;
    display: block;
}

#defender-section {
    margin-bottom: 300px;
}

.center {
    margin: 30px auto;
    display: block;
}

.vs-image {
    height: 75px;
    width: auto;
}


